.hide {
    display: none !important;
}

$bgAppInit:rgb(4, 50, 99);

body {
    background-color: $bgAppInit;
    margin: 0;
    padding: 0;
}

.menu-horizontal {
  margin-left: 5px;
}

.sub-menu-cmp {
  --_menu-bg-color: transparent;
}

.content-present-app {
    height: 100%;
    width: 100%;
    color: white;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#notification-gl-cmp {
  z-index: 150;
  p {
      font-size: 1.1em;
      padding: 0;
      margin: 0px 5px 15px 5px;
  }
}

.noti-warning {
  --_background-color: #C49735;
}

.noti-success {
  --_background-color: #277A3E;
}

.noti-info {
  --_background-color: #1973B8;
}

.noti-danger {
  --_background-color: #B92A45;
}

.error-host-service-certificate {
  a {
    color: #FDE7D8;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
  }

  a:hover {
    color: #FAB27F;
  }

}

$app-blue: #054f7d;
$app-ltblue: #00a7cf;
$app-dark: #072146;
$app-core:#1464A5;

.wrapper {
  align-items: center;
  background-image: linear-gradient(to right, $app-blue,$app-dark,$app-core,$app-blue,$app-ltblue);
  background-size: 6500%;
  background-position: 0 0;
  box-shadow: inset 0 0 5em rgba(0,0,0,.5);
  display: flex;
  font-family: 'Lato', Arial, sans-serif;
  height: 100%;
  justify-content: center;
  /* Animation */
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients;
}

@keyframes gradients {
    0%   {background-position: 0 0;}
    25% {background-position: 50% 0;}
    50% {background-position: 70% 0;}
    60% {background-position: 60%;}
    75% {background-position: 40%;}
    100%  {background-position: 0 0;}
}

#spinner-global {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    --bbva-foundations-spinner-bg-color: #054f7d;
    --bbva-foundations-spinner-gradient-color: #49A5E6;
    --bbva-foundations-spinner-outline-color: #5BBEFF;
    /*background-color: #1973b8;*/
  }

  .simple-splash {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    overflow: hidden;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @keyframes ldio-mtovv4h8tpf {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
  }
  .ldio-mtovv4h8tpf div {
    position: absolute;
    animation: ldio-mtovv4h8tpf 0.8s linear infinite;
    width: 157.14000000000001px;
    height: 157.14000000000001px;
    top: 66.93px;
    left: 66.93px;
    border-radius: 50%;
    box-shadow: 0 5.82px 0 0 #1d3f72;
    transform-origin: 78.57000000000001px 81.48px;
  }
  .loadingio-spinner-eclipse-6pc932zv7vn {
    width: 291px;
    height: 291px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-mtovv4h8tpf {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-mtovv4h8tpf div { box-sizing: content-box; }

  .sub-menus-apps {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: calc(100vw - 50px);
    margin: 0px 25px 15px 25px;
    background-color: #E9E9E9;
     padding-top: 15px;
     --_menu-bg-color: #1464A5;
     --_menu-item-active-bg-color: #043263;

  }