main {
  .container-main {
    h1 {
      font-weight: lighter;
      font-size: 1.65em;
      padding-bottom: 5px;
      border-bottom: 1px solid #e1e1e1;
    }
    p {
      font-size: 1.2em;
      line-height: 1.5em;
      text-align: justify;
    }
    
    a {
      font-size: 1.4em;
      font-weight: normal;
      color: #1464A5;
      text-decoration: none;
    }
    small {
      color: #2E4452;
    }

    .description-component {
     margin-top: 5px; 
    }
  }
}